<div style="min-width:180pxmax-width:300pxpadding:5pxbackground:#fffmargin:0font-size:12pxline-height:16px">
    <a href="$!applyUrl" target="_blank" style="position:relativedisplay:blockpadding:9pxbackground:#f2aa18color:#ffftext-decoration:none">
        <div style="text-align:centerfont-size:12ptmargin-bottom:10px">商品优惠券</div>
        <div style="text-align:centercolor:rgba(255,255,255,0.8)font-size:10ptposition:relative">
            <div style="position:absolutetop:7pxleft:0width:100%height:1pxbackground:rgba(255,255,255,0.8)"></div>
            <span style="position:relativepadding:0 3pxbackground:#f2aa18">$!startTime - $!endTime</span></div>
        <div style="display:-webkit-boxmargin-top:20px">
            <div style="-webkit-box-flex:1">
                <div style="font-size:12pt">&#65509<strong style="font-size:24pt">$!amount</strong></div>
                <div style="font-size:10ptmargin-top:5px">满$!startFee元使用</div>
            </div>
            <div style="width:64pxheight:25pxborder:1px solid #fef7efborder-radius:3pxline-height:26pxtext-align:centerfont-size:10ptmargin-top:10px">去领取</div>
        </div>
        <div style="position:absolutewidth:10pxheight:100%background:url(https://img.alicdn.com/tps/TB1aPdPIVXXXXaMXFXXXXXXXXXX.png) repeat-y 0 0top:6pxleft:-5px"></div>
        <div style="position:absolutewidth:10pxheight:100%background:url(https://img.alicdn.com/tps/TB1aPdPIVXXXXaMXFXXXXXXXXXX.png) repeat-y 0 0top:6pxright:-5px"></div>
    </a>
</div>
